# Xcode
build/
DerivedData/
*.xcuserdata
*.xcworkspace
xcuserdata/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xccheckout
*.moved-aside

# Swift Package Manager
.build/
Packages/
Package.pins
Package.resolved
*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# CocoaPods (au cas où)
Pods/

# Misc
*.ipa
*.dSYM.zip
*.dSYM
